<h2>Printer Setting</h2>

<div>
    <label>first layer curing time</label>
    <input disabled [(ngModel)]="curing_time.value">
    <input
       type="range"
       min="{{curing_time.min}}"
       max="{{curing_time.max}}"
       step="{{curing_time.resolution}}"
       (change)="set_curing_time_value()"
       [(ngModel)]="curing_time.value">

    <button (click)="curing_time_decrease()">-</button>
    <button (click)="curing_time_increase()">+</button>
</div>

<div>
  <label>number of layer buffers</label>
  <input disabled [(ngModel)]="layer_buffer.value">
  <input
     type="range"
     min="{{layer_buffer.min}}"
     max="{{layer_buffer.max}}"
     step="{{layer_buffer.resolution}}"
     (change)="set_layer_buffer_value()"
     [(ngModel)]="layer_buffer.value">

  <button (click)="layer_buffer_decrease()">-</button>
  <button (click)="layer_buffer_increase()">+</button>
</div>

<button (click)="this.location.back()">back</button>

